<%- include('../include/header') %>

</head>
<body >
  <%- include('../include/menu') %>
  <%- include('../include/navagation') %>
  <div class="main-container">
    <div class="row">
      <form action="/admin/deleteService/<%= ServiceItem.id  %>" method="POST" enctype="application/x-www-form-urlencoded">
        <button type="submit" class="btn btn-success">Xóa dịch vụ</button>
      </form>

      <form action="/admin/edit-Service/<%= index %>" method="POST" enctype="application/x-www-form-urlencoded">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header text-center title">
            
            Chỉnh sửa dịch vụ <input type="text" name="servicename" value="<%= ServiceItem.serviceName %>"> 
            <input hidden type="text" value="<%= ServiceItem.id %>"  name="id">
            
          </div>
          <div class="card-body">

              <table class="table table-bordered" >
                <thead>
                  <tr>
                    <th scope="col">Dịch vụ</th>
                    <th scope="col">Đơn vị</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Bảo hành</th>
                  </tr>
                </thead>
                <tbody class="tbody collection">
                  <% ServiceItem.serviceItems.forEach(function(element) {%>
                  <tr  class="collection-item" >
                    <th scope="row" onload="add()">
                      <input type="text" class="input_data" name="dichvu" value="<%= element.name %>">
                    </th>
                    <td>
                      <input type="text" class="input_data" name="donvi" value="<%= element.unit %>">
                    </td>
                    <td>
                      <input type="text"  class="input_data" name="gia" value="<%= element.price %>">
                    </td>
                    <td>
                      <input type="text" class="input_data" name="baohanh" value="<%= element.guarantee %>">
                    </td>
                    <td>
                    <a class="delete-item secondary-content remove"><i class="fas fa-trash-alt"></i></a>
                    </td>
                    
                  </tr>
                  
                  <% }); %>
                  
                </tbody>
                
              </table>
              <button type="submit" class="btn btn-success">Cập nhật</button>
              <button type="button" class="btn btn-primary" onclick="addService()" > Thêm</button>
             
            
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
  <%- include('../include/script') %>
  <%- include('../include/end') %>
