<%- include('../include/header') %>
</head>
<body >
  <%- include('../include/menu') %>
  <%- include('../include/navagation') %>
  <div class="main-container">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Quản Lý Tài Khoản Admin
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form class="form-inline" action="" method="GET">
                                    <div class="form-group mb-2 mr-2">
                                        <label for="username" class="sr-only">Tìm Kiếm</label>
                                        <input type="text" class="form-control" id="username" name="username" placeholder="Search name">
                                    </div>
                                    <button type="submit" class="btn btn-info mb-2">Tìm Kiếm</button>
                                </form>
                            </div>
                            <div class="col-lg-4">
                                <form class="form-inline" action="/admin/list-admin" method="GET">
                                    <div class="form-group mb-2 mr-2">
                                        <select class="form-control" id="active" name="active">
                                          <option selected>true</option>
                                          <option>false</option>
                                        </select>
                                      </div>
                                    <button type="submit" class="btn btn-info mb-2">Lọc</button>
                                </form>
                            </div>
                            <div class="col-lg-2">
                                <a href="/admin/add-admin" class="btn btn-success mb-2"><i class="fas fa-user-plus"></i></a>
                                <!-- <a target="_blank" href="/admin/export-excel-admin" class="btn btn-success mb-2"><i class="fas fa-chevron-left"></i></a> -->
                            </div>
                        </div>
                        <hr>
                        <h5 class="card-title">Danh Sách Tài Khoản Admin</h5>
                            <table class="table table-hover table-sm table-responsive-lg">
                                <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Action</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                    <% UserAdmins.forEach(function(admin) { %>
                                    <tr>
                                        <th scope="row"></th>
                                        <td><%= admin.username %></td>
                                        <td><%= admin.email %></td>
                                        <td><%= admin.active %></td>
                                        <td><%= admin.role %></td>
                                        <td class="column-verticallineMiddle form-inline">
                                            <a href="/admin/edit-admin/<%= admin.id %>" class="mr-1"><i class="fas fa-eye"></i></a>
                                            <a href="/admin/update-password" class="mr-1"><i class="fas fa-key"></i></a>
                                            <form action="" method="POST">
                                                <button type="submit" class="alert-danger"><i class="fas fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% });%>
                                </tbody>
                            </table>
                          
                            
                    </div>
                </div>
            </div>

        </div>
  </div>
  </div>
  <%- include('../include/script') %>
  <%- include('../include/end') %>
