<%- include('../include/header') %>
</head>
<body >
  <%- include('../include/menu') %>
  <%- include('../include/navagation') %>
  <div class="main-container">
    <div class="container-fluid">
    <div class="row">
      <div class="card shadow">
        <div class="card-header title text-center"> 
          Chỉnh sửa dịch vụ 
        </div>
        <div hidden><%= i = 0; %></div>
        <div class="card-body">
        <% Service.forEach(function(element) { %>
        <a href="/admin/edit-Service/<%= i %>"><p><%= element.serviceName %></p></a>
        <div hidden><%= i++; %></div>
        <% }); %>
        </div>
        <div class="add">
          <a class="add1" href="/admin/add-Service" ></i>Thêm dịch vụ</a>
        </div>
        
      </div>
    </div>
  </div>
  </div>
  <%- include('../include/script') %>
  <%- include('../include/end') %>
