<%- include('../include/header_customer') %>
<link rel="stylesheet" href="/css/content.css">
</head>
<body>
  <%- include('../include/menu_customer') %> 
  <div class="container-fluid">
    <div class="container">
        <br>
      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title text-center">Chi tiết lịch hẹn</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dịch vụ: <%= Schedule.serviceID.name %>
                        </li>
                        <li class="list-group-item">Thời gian: <%= Schedule.time %>
                        </li>
                        <li class="list-group-item">Địa chỉ: <%= Schedule.agencyID.address %>
                        </li>
                        <li class="list-group-item">Trạng thái: <%= Schedule.status %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
 
  <%- include('../include/footer') %>
  <%- include('../include/script_customer') %>
  <%- include('../include/end') %>



