<%- include('../include/header_customer') %>
<link rel="stylesheet" href="/css/content.css">
</head>
<body>
  <%- include('../include/menu_customer') %> 
  <div class="container-fluid">
    <div class="container">
        <br>
      <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title text-center">Chi tiết lịch hẹn</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tên khách hàng: Nhan
                        </li>
                        <li class="list-group-item">Tên tài khoản: Nhan
                        </li>
                        <li class="list-group-item">Email: nhan@gmail.com
                        </li>
                        <li class="list-group-item">Số điện thoại:0849119919   </td>
                        </li>
                        <li class="list-group-item">Dịch vụ: 
                        </li>
                        <li class="list-group-item">Địa chỉ:
                        </li>
                        <li class="list-group-item">Chi nhánh:
                        </li>
                        <select style="width: 250px;" class="list-group-item" name="" id="">
                            <option class="list-group-item" value="">Đang chờ</option>
                            <option class="list-group-item" value="">Đã khám</option>
                        </select>
                        <li class="list-group-item text-center">
                            <button class="btn btn-success btn-lg">Thay đổi trạng thái</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
    </div>
 
  <%- include('../include/footer') %>
  <%- include('../include/script_customer') %>
  <%- include('../include/end') %>



