<%- include('../include/header_customer') %>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>
  <%- include('../include/menu_customer') %> 
    <div class="container-fluid">
    <section>
      <div class="slider">
        <div class="slides">
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <div class="slide first">
            <img  src="/images/tieu-chuan-quoc-te.jpg" alt="" >
          </div>
          <div class="slide">
            <img  src="/images/banner-nu-cuoi-phai-dep.jpg" alt="" >
          </div>
          <div class="slide">
            <img  src="/images/cuoc-thi-anh.jpg" alt="" height="520px" >
          </div>
          <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
          </div>

        </div>
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
      <p style="font-size: 30px;" class="text-center">Pacific Healthcare Ecosystem </p>
      <div class="row">
        <div class="col">
          <div class="card">
            <img src="images/thumb-bs-nam.jpg" alt="" width=100%; >
          </div>
          <div class="card-footer">
          <a href="#" tabindex="0" style=" font-weight: 700;">Bác sĩ Nguyễn Hữu Nam và hành trình xây dựng tập đoàn y tế nghìn tỉ</a>
          </div>
        </div>
        <div class="col">
          <div class="card" >
          <img src="images/2019.jpg" alt=""  width=100%; >
          </div>
          <div class="card-footer">
          <a href="#" tabindex="0" style=" font-weight: 700;">Nha khoa Kim huy động gần 500 tỉ đồng từ nhiều Quỹ đầu tư lớn trên thế giới</a>
          </div>
        </div>
        <div class="col">
        <div class="card" >
          <img src="images/7.jpg" alt="" width=100%; >
          </div>
          <div class="card-footer">
          <a href="#" tabindex="0" style=" font-weight: 700;">Tập đoàn Pacific Healthcare khởi công Bệnh viện đa khoa 450 giường đầu tiên theo mô hình hợp tác công tư</a>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section>
    <div class="container">
      <p style="font-size: 30px;" class="text-center">Tin mới nhất</p>
      <div class="row">
        <div class="col">
          <div class="card">
            <img src="images/web.jpg" alt="" width=100%; >
          </div>
          <div class="card-footer">
          <a href="#" tabindex="0" style=" font-weight: 700;">Nha Khoa Kim trao tặng 300 triệu đồng cho quỹ An Sinh Xã Hội HLHPN TP.HCM tại Ngày hội “Phụ nữ khởi nghiệp - việc làm 2020”</a>
          </div>
        </div>
        <div class="col">
          <div class="card" >
          <img src="images/HLHPN.jpg" alt=""  width=100%; >
          </div>
          <div class="card-footer">
          <a href="#" tabindex="0" style=" font-weight: 700;">Nha khoa Kim thu hút hàng trăm hội viên Hội LHPN Quận 5 tham dự hội thảo "Cười đẹp - Sống vui"</a>
          </div>
        </div>
        <div class="col">
        <div class="card" >
          <img src="images/h2.png" alt="" width=100%; >
          </div>
          <div class="card-footer">
          <a href="#" tabindex="0" style=" font-weight: 700;">Bác sĩ Nguyễn Hữu Nam tâm huyết cùng Tổng Công Ty Thái Sơn – Bộ Quốc Phòng phát triển “Dự án năng lượng tái tạo, khí thiên nhiên”</a>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section>
      <div class="container-fluid">
        <div class="text-center" style="height:35px;width:100%;font-weight: 700;font-size: 26px;line-height:35px ; color:#000">
        Tiên Chuẩn Nha Khoa
      </div>
      <div class="container">
        <img src="images/Capture.PNG" style="margin-right:60px ;">
      </div>
      </div>
    </section>

    </div>


    
  <%- include('../include/footer') %>
  <%- include('../include/script_customer') %>

  <%- include('../include/end') %>




  

