<%- include('../include/header_customer') %>
<link rel="stylesheet" href="/css/index.css">

</head>
<body>
  <%- include('../include/menu_customer') %> 
    <div class="container-fluid">
    <section>
      <div class="slider">
        <div class="slides">
          <input type="radio" name="radio-btn" id="radio1">
          <input type="radio" name="radio-btn" id="radio2">
          <input type="radio" name="radio-btn" id="radio3">
          <div class="slide first">
            <img  src="/images/tieu-chuan-quoc-te.jpg" alt="" >
          </div>
          <div class="slide">
            <img  src="/images/banner-nu-cuoi-phai-dep.jpg" alt="" >
          </div>
          <div class="slide">
            <img  src="/images/cuoc-thi-anh.jpg" alt="" height="520px" >
          </div>
          <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
          </div>

        </div>
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <H1>
          Đây là phần nội dung
        </H1>
      </div>
    </section>

    </div>


    
  <%- include('../include/footer') %>
  <%- include('../include/script_customer') %>

  <%- include('../include/end') %>




  

