
<%- include('../include/header_customer') %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/profile.css">


</head>
<body>
  <%- include('../include/menu_customer') %> 
  <hr>
  <div class="container text-center">
      <div class="profile">
            <p class="title">Thông tin tài khoản</p>
            <img src="/images/avatar.jpg" alt="" srcset="">
            <div class="user"><%= KiemTralogin.username %></div>

            <form action="" method="POST">
                <table class="tbl_profie">
                    <tr >
                        <th>Họ tên:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr >
                        <th>Tên tài khoản:</td>
                        <td><input type="text" value="<%= KiemTralogin.username %>" readonly></td>
                    </tr>
                    <tr >
                        <th>Mật khẩu:</td>
                        <td><input type="password"></td>
                    </tr>
                    <tr >
                        <th>Xác nhận mật khẩu:</td>
                        <td><input type="password"></td>
                    </tr>
                    <tr >
                        <th>Email:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr >
                        <th>Số điện thoại:</td>
                        <td><input type="text"></td>
                    </tr>
                   
                        
                  
                </table>
                <button  class="btn btn-success">Chỉnh sửa</button>
            </form>
      </div>
      <br>
      <br>
  </div>
  


  
<%- include('../include/footer') %>
<%- include('../include/end') %>




  

