<%- include('../include/header_customer') %>
<link rel="stylesheet" href="/css/content.css">
</head>
<body>
  <%- include('../include/menu_customer') %> 
  <div class="container-fluid">
    <div class="container">
        <br>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh Sách lịch hẹn</h5>
                            <table class="table table-hover table-sm table-responsive-lg">
                                <thead>
                                <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Thời gian</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <%= i = 0 %>
                                    <% ListSchedule.forEach(function(element){ %>
                                    <tr>
                                        <th scope="row"><%= i %></th>
                                        <td><%= element.status %></td>
                                        <td><%= element.time %></td>
                                        <td class="column-verticallineMiddle form-inline">
                                            <a href="/detailschedule_customer/<%= element.id %>" class="mr-1"><i class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                    <% i++; }) %>
                                  
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
 
  <%- include('../include/footer') %>
  <%- include('../include/script_customer') %>
  <%- include('../include/end') %>



